.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #FF9933;
}

.ratingSpan {
    min-width: 11px;
    min-height:6px;
    padding: 1px 1px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 11px;
    background:#138808;
}