
<br />
<div data-ng-show="savedSuccessfully && message" class="alert alert-success float-message">
    <a href="" class="close" ng-click="message = ''">&times;</a>
    {{message}}
</div>
<div data-ng-show="!savedSuccessfully && message" class="alert alert-danger float-message">
    <a href="" class="close" ng-click="message = ''">&times;</a>
    {{message}}
</div>

<div class="panel panel-default">

    <div class="panel-heading formHeader">
        <div>
            <span class="">New/Edit Category </span>
            <a href="" type="button" class="glyphicon glyphicon-question-sign btnalignRight" data-placement="left"
               data-title="Before creating new product check if the product already exist in 'product lookup' section. for bulk update, please contact support@vbuy.in" data-bs-tooltip></a>
        </div>
    </div>

    <div class="panel-body panel-min-height">
        <br />
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-3">Parent Category</label>
                <div class="col-md-2">
                    <select class="form-control selectpicker" ng-model="selectedCategory" id="categoryFilter"
                            data-html="1" ng-options="category.CategoryId as category.Name for category in filterParentCategoryList"
                            placeholder="Select Category" ng-change="changeProductCategory()" style="height: 30px">
                        Select Category
                        <span class="caret"></span>
                        <option value="">*Parent Category*</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Category</label>
                <div class="col-md-7">  <input type="text" class="form-control" id="txtEditCategoryname" required data-ng-model="newCategory.Name" placeholder="Category" /></div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Group Tag</label>
                <div class="col-md-7">  <input type="text" class="form-control" id="txtGrptag" data-ng-model="newCategory.CategoryGroupTag" placeholder="Group Tag" /></div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Group Display Order</label>
                <div class="col-md-7">  <input type="number" class="form-control" id="txtGrpDisplay" data-ng-model="newCategory.GroupDisplayOrder" placeholder="Group Display Order" /></div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Show Buy in Listing page</label>
                <div class="col-md-1">  <input type="checkbox" class="form-control" data-ng-model="newCategory.FlagShowBuy" /></div>
            </div>

            <div class="form-group">
                <div class="col-md-3"><label class="control-label"></label></div>
                <div class="col-md-7 btnalignRight">
                    <button class="btn btn-sm btn-info" type="submit" data-ng-click="CreateCategory(newCategory)"> Save Category</button>
                    <button class="btn btn-sm btn-info" type="Reset">Reset</button>
                </div>
            </div>

        </form>
    </div>
</div>
