
    <div class="panel panel-default" style="margin-top: 5px; margin-bottom: 5px;">

        <div class="panel-heading">
            <div class="panel-title"> <label for="recipient-name" class="control-label" style="margin-left:35%"> User Summary</label>  </div>

        </div>
        <div class="panel-body panel-min-height">

            <div class="row">
                <div class="col-md-6">
                    <table id="regCustomersGrid"></table>
                </div>
                <div class="col-md-6">
                    <table id="regRetailerGrid"></table>
                </div>
            </div>
        </div>


    </div>