
<br />
<div data-ng-show="savedSuccessfully && message" class="alert alert-success float-message">
    <a href="" class="close" ng-click="message = ''">&times;</a>
    {{message}}
</div>
<div data-ng-show="!savedSuccessfully && message" class="alert alert-danger float-message">
    <a href="" class="close" ng-click="message = ''">&times;</a>
    {{message}}
</div>

<div class="panel panel-default">

    <div class="panel-heading formHeader">
        <div>
            <span class="">Product SEO </span>
        </div>
    </div>
    <div class="panel-body panel-min-height">
        <br class="clear" />
 

                <div class="row" style="margin-bottom:5px;">
                    <div class="col-md-2"> <label for="message-text" class="control-label" style="margin-right: 10px;">Category</label></div>
                    <div class="col-md-3">
                        <select id="ddlCategoryId" class="select2-search--dropdown" style="width:100%;" data-placeholder="Choose Category.."></select>
                    </div>
                    <div class="col-md-2"><label for="message-text" class="control-label" style="margin-right: 10px;">SubCategory</label> </div>
                    <div class="col-md-3">
                        <select id="ddlSubCategoryId" class="select2-search--dropdown" style="width:100%;" data-placeholder="Choose SubCategory.."></select>
                    </div>


                    <div class="col-md-2"><button type="button" class="btn btn-primary" ng-click="SearchSEOProduct()" ;>Search</button></div>
                    <div class="col-md-4">

                    </div>
                </div>



                <div class="row" style="margin-left:10px;">
                    <table id="seoProductgrid"></table>
                    <div id="seoProductPager"></div>
                </div>

 

        </div>
    </div>

    <div class="modal fade" id="editSEOProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="EditKeyModel">SEO Product</h4>
                </div>
                <div class="modal-body">

                    <div class="row" style=" margin-bottom:10px;">
                        <div class="col-md-4"><label for="recipient-name" class="control-label">Product Id</label></div>
                        <div class="col-md-8">  <input type="text" class="form-control" id="txtEditid" disabled="disabled" placeholder="Category Id" /></div>
                    </div>
                    <div class="row" style=" margin-bottom:10px;">
                        <div class="col-md-4"> <label for="recipient-name" class="control-label">Meta Title</label></div>
                        <div class="col-md-8"> <textarea class="form-control" id="txtEditTitle" placeholder="Meta Title"></textarea></div>
                    </div>
                    <div class="row" style=" margin-bottom:10px;">
                        <div class="col-md-4"> <label for="recipient-name" class="control-label">Meta Description</label></div>
                        <div class="col-md-8"> <textarea class="form-control" id="txtEditDescription" placeholder="Meta Description"></textarea></div>
                    </div>
                    <div class="row" style=" margin-bottom:10px;">
                        <div class="col-md-4"> <label for="recipient-name" class="control-label">Meta Keywords</label></div>
                        <div class="col-md-8"> <textarea class="form-control" id="txtEditKeywords" placeholder="Meta Keywords"></textarea></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="ModifySEOProduct();">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>