<!--////////////////////////////////////////////////////////////////////////////////////////////
// <copyright>
// Copyright (c) 2014-2020 VS Online Services Pvt ltd, All Rights Reserved
//</copyright>
// <description>VSECommerce: A VBuy.in platform<description>
// <author>Sivakumar Anirudhan</author>
//VSOnline.VSECommerce
///////////////////////////////////////////////////////////////////////////////////////////
-->

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Admin Page

        <h1> Category Details</h1>
        <div class="row" ng-init="">
            <tr>
                <td>Id</td>
                <td>Category Name</td>
            </tr>
            <tr ng-repeat="talk in talks">
                <td>{{Id}}</td>
                <td>{{Category Name}}</td>
            </tr>
        </div>
    </div>
</body>
</html>
