<div class="forgotpassword panel panel-default">
    <div class="panel-heading">
        <h4 class="text-success">Forgot your Password</h4>
    </div>

    <div class="panel-body">
        <p>Please enter the email address of your account to reset the password.</p>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-1">
                    <label for="email">E-Mail Id</label>
                </div>
                <div class="col-xs-5">
                    <input type="text" class="form-control" name="username" data-ng-model="Email" id="email" required autofocus placeholder="Email">
                </div>
                <div class="col-xs-2">
                    <button class="btn btn-default btn-warning" type="submit" data-ng-click="SendForgetPassword()">Submit</button>
                </div>
            </div>
        </form>
    </div>

</div>
<br style="clear:both" />
<div data-ng-hide="message == ''" data-ng-class="(successfullySent) ? 'alert alert-success' : 'alert alert-danger'">
    {{message}}
</div>
<br style="clear:both" />

        Contact <a href="mailto:support@vbuy.in">support@VBuy.in</a> for any help

