<div>
    <div class="panel-heading formHeader">
        <h4 class="text-success">New Branch</h4>
    </div>

    <div data-ng-show="savedSuccessfully && message" class="alert alert-success float-message">
        <a href="" class="close" ng-click="message = ''">&times;</a>
        {{message}}
    </div>
    <div data-ng-show="!savedSuccessfully && message" class="alert alert-danger float-message">
        <a href="" class="close" ng-click="message = ''">&times;</a>
        {{message}}
    </div>
     <br />
    <form class="form-horizontal">
       
        <div class="form-group">
            <label class="col-md-2 control-label">
                Branch Name
            </label>
            <div class="col-md-3">
                <input class="form-control" type="text" size=25 maxlength=50 data-ng-model="branch.BranchName" required placeholder="Branch Name" name="businessName">
            </div>
            <label class="col-md-2 control-label">
                Email
            </label>
            <div class="col-md-3">
                <input class="form-control" type="email" size=25 maxlength=100 data-ng-model="branch.Email" placeholder="Email" name="email" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                Adress 1
            </label>
            <div class="col-md-3">
                <input class="form-control" type="text" size=25 maxlength=50 data-ng-model="branch.Address1" placeholder="Address1" name="address1" required>
            </div>
            <label class="col-md-2 control-label">
                Adress 2
            </label>
            <div class="col-md-3">
                <input class="form-control" type="text" size=25 maxlength=50 data-ng-model="branch.Address2" placeholder="Address2" name="address2" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                City
            </label>
            <div class="col-md-3">
                <input class="form-control" type="text" size=25 maxlength=50 data-ng-model="branch.City" placeholder="City" name="city" required>
            </div>
            <label class="col-md-2 control-label">
                Pincode
            </label>
            <div class="col-md-3">
                <input class="form-control" type="number" size=25 maxlength=6 data-ng-model="branch.Pincode" name="pincode" placeholder="Pincode" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                Select Country
            </label>
            <div class="col-md-3">
                <select class="form-control" name="" data-ng-model="branch.Country" onchange="">
                    <option value="42" selected="selected">India</option>
                </select>
            </div>
            <label class="col-md-2 control-label">
                Select State
            </label>
            <div class="col-md-3">
                <select class="form-control"  name="" data-ng-model="branch.State" onchange="" required>
                    <option selected="selected" value="TamilNadu">TamilNadu</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Andhra">Andhra Pradesh</option>
                    <option value="Telengana">Telengana</option>
                    <option value="Maharashtra">Maharashtra</option>
                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                    <option value="Chhattisgarh">Chhattisgarh</option>
                    <option value="Goa">Goa</option>
                    <option value="Gujarat">Gujarat</option>
                    <option value="WestBengal">West Bengal</option>
                </select>
                <span>
                    Lat: {{branch.Latitude}}
                </span>
                <br />
                <span>
                    Long: {{branch.Longitude}}
                </span>
            </div>          
           
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                Phone no
            </label>
            <div class="col-md-3">
                <input class="form-control" type="number" data-ng-model="branch.PhoneNumber" size=25 maxlength=10>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">

            </label>
            <div class="col-md-3 right">
                <button class="btn btn-sm btn-info" type="submit" data-ng-click="CreateNewBranch()">Save Branch</button>
                <button class="btn btn-sm btn-info" type="Reset">Reset</button>
            </div>
           
        </div>
    </form>
</div>