<div class="forgotpassword panel panel-default">
    <div class="panel-heading">
        <h4 class="text-success">Reset your Password</h4>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 control-label">
                    User Name
                </label>
                <div class="col-md-4">
                    <strong><span id="username" data-ng-bind="username"></span></strong>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">
                    New Password
                </label>
                <div class="col-md-4">
                    <input type="password" class="form-control" id="password" data-ng-model="user.Password" size=25 maxlength=25 required placeholder="New Password">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">
                    Confirm Password
                </label>
                <div class="col-md-4">
                    <input type="password" class="form-control" id="ConfirmPassword" data-ng-model="user.ConfirmPassword" compare-to="user.Password" size=25 maxlength=25 required placeholder="Confirm Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2">

                </div>
                <div class="col-md-4">
                    <button class="btn btn-warning" type="submit" data-ng-click="ResetPassword()">Change Password</button>
                    <button class="btn btn-sm btn-info" type="Reset">Reset</button>
                    or
                    <a href="#Login">Login here</a>
                </div>
            </div>
            <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                {{message}}
            </div>
        </form>
    </div>
</div>
































        <!--<div class="container" >

                <div class="col-md-12 column">
                    <br />
                    <br />
                    <br />
                    <h3 class="text-left text-success">
                        Reset your Password
                    </h3>
                    <form role="form" >
                        <div class="form-group">
                            <label for="exampleInputEmail1">E-Mail Id</label><input type="email" data-ng-model="loginData.userName" class="form-control" id="exampleInputEmail1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">New Password</label><input type="password" data-ng-model="loginData.password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Confirm Password</label><input type="password" data-ng-model="loginData.password" class="form-control" id="exampleInputPassword1">
                        </div>

                        <button type="submit" class="btn btn-warning">Reset</button> or
                        <a href="login.html" link" type="button">Sign-In here</a>

                        <div data-ng-hide="message == ''" class="alertalert-danger">
                            {{message}}
                        </div>
                    </form>

            </div>
        </div>-->
        <!--<div class="login-container view">
            <br />
            <br />
            <p>
                <b>
                    <span class="greenText">
                        People are using all electronic devices like mobiles, tablets, computers, laptops for browsing products like never before.
                        VBuy.in puts your store in front of those shoppers, giving you new way to reach people looking to shop in your
                        local area. Registration free for limited period only.
                    </span>
                </b>
            </p>

            <br />
            <div class="login-left">
                <img src="Content/images/RetailerApp/retailer_login.jpg" alt="Grow Your Sales" />

            </div>

            <div class="login panel panel-primary">
                <div class="panel-heading">
                    <h4>Change Password</h4>
                </div>
                <form>
                    <p><input type="text" name="usermail" data-ng-model="loginData.password" required autofocus placeholder="New Password"></p>
                    <p><input type="text" name="usermail" data-ng-model="loginData.password" required autofocus placeholder="Confirm Password"></p>

                    <button class="btn btn-info" type="reset">Reset</button>

                    <div data-ng-hide="message == ''" class="alert alert-danger">
                        {{message}}
                    </div>
                </form>

                <div class="alert alert-success" role="alert">
                    A verification link will be sent to your mail, Please follow that link.

                </div>

                <label style="background-color:red;color:snow; width:500px;font-size:10px;height:15px">
                    <b>Note: </b>Site Under Development. This is a preview of prototype and your user data may be deleted.
                </label>
                <img src="Content/images/RetailerApp/specialOffer.jpg" alt="Special Offer" />
                <span class="greenText">No charges until February, 2015.</span>
            </div>



        </div>-->
