
<div class="panel-heading formHeader">
    <div>
        <span> Add/Modify Parameters</span>
        <a>
            <span class="glyphicon glyphicon-question-sign btnalignRight"
                  data-title="Add or Modify filters, key features and detailed specification" data-bs-tooltip></span>
        </a>
    </div>
</div>   

<br class="clear" />
    <form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-3 control-label">
            Product Name
        </label>
        <div class="col-md-7">
            <input type="text" disabled class="form-control" size=25 maxlength=50 data-ng-model="product.Name" placeholder="Product Name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">
            Color
        </label>
        <div class="col-md-7">
            <input type="text" disabled class="input-sm form-control" maxlength=5 data-ng-model="product.Color">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">
            Filter Parameter
        </label>
        <div class="col-md-7">
            <table>
                <thead>

                    <tr>
                        <th>Parameter</th>
                        <th>KeyFeature</th>
                        <th>Filter Value</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                    <tr ng-repeat="r in filterRows">
                        <td>
                            <select ng-model="r.CategoryMasterFilterId" ng-options="filter.Id as filter.FilterParameter for filter in productFilters">
                                <option value="">Select Parameter</option>
                            </select>
                        </td>

                        <td>
                            <input type="hidden" value="{{r.productId = r.productId>0? r.productId : productId}}" />
                            <input type="text" ng-model="r.FilterValue" value="0" />
                        </td>
                        <td>
                            <input type="text" ng-model="r.FilterValueText" value="0" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="btnalignRight">
                                <button class="btn-primary" ng-click="addfilterRow()">Add Filter</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">
            Key Features
        </label>
        <div class="col-md-7">
            <table>
                <thead>

                    <tr>
                        <th>Parameter</th>
                        <th>KeyFeature</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                    <tr ng-repeat="r in featureRows">
                        <td>
                            <input type="hidden" value="{{r.productId = r.productId>0? r.productId : productId}}" />
                            <input type="text" ng-model="r.Parameter" value="0" />
                        </td>

                        <td>
                            <input type="text" ng-model="r.KeyFeature" value="0" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>

                            <div class="btnalignRight">
                                <button class="btn-primary" ng-click="addfeatureRow()">Add Key Feature</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-3 control-label">
            Detailed Specification
        </label>
        <div class="col-md-7">
            <table>
                <thead>

                    <tr>
                        <th>Specification Group</th>
                        <th>Attribute</th>
                        <th>Details</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                    <tr ng-repeat="r in specRows">
                        <td>
                            <input type="text" ng-model="r.SpecificationGroup" value="0" />
                            <input type="hidden" value="{{r.productId = r.productId>0? r.productId : productId}}" />
                        </td>

                        <td>
                            <input type="text" ng-model="r.SpecificationAttribute" value="0" />
                        </td>
                        <td>
                            <input type="text" ng-model="r.SpecificationDetails" value="0">
                        </td>


                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>

                            <div class="btnalignRight">
                                <button class="btn-primary" ng-click="addspecRow()">Add Specification</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br style="clear:both" />
    <div class="col-md-3">

    </div>
    <div class="col-md-7">

        <div class="btnalignRight">
            <button class="btn btn-sm btn-info" type="submit" data-ng-click="updateProductSpecifications()">Save All</button>
            <a class="btn btn-sm btn-info" href="Retailer.html#/UpdateProduct/{{product.ProductId}}"><< Edit Product</a>
            <a class="btn btn-sm btn-info" href="Retailer.html#/UpdateProductImage/{{product.ProductId}}"><< Upload Images</a>
            <a class="btn btn-sm btn-info" href="Retailer.html#/UpdateProductSeo/{{product.ProductId}}"><< Update SEO </a>
        </div>
    </div>
            <br class="clearfix" />
</form>